h1{ 
    font-display:inline;
    font-size: 36px;
    font-family:Montserrat alternates;
    font-variant:normal;
    color:black; 
}
h2{
    font-display:inline;
    font-size:24px;
    font-family:Montserrat;
    font-variant:normal;
    color: black;
}
h3{
    font-display:inline;
    font-size:18px; 
    font-family:Cantata One;
    font-variant:normal;
    color: black;
}
p{
    font-family: sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-variant: normal;
    color: black;
}
.button1 {background-color: #E9E2C0;} /* Cream */
.button2 {background-color: #E9E2C0, opacity 50%;} /* Light Cream */

.button3 {background-color: #E5E5E5;} /* Grey */
.button4 {background-color: #E5E5E5, opacity 50%;} /* Light Grey */

.button5 {background-color: #4E0B33;} /* Dusty Plum */
.button6 {background-color: #4E0B33, opacity 32%;} /* Light Dusty Plum */

.button { 
	 border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 5px 5px 20px;
  cursor: pointer;
  }
.colorContainer {
    width: 110px;
    height: 150px;
    text-align: center;
    float: left;
    margin: 30px 10px 10px 50px;
}
.hexCode {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: normal;
    font-variant: normal;
    color: black;
}
.swatchMagenta { 
    border: black;
    background-color: #850260;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    display: inline-block;
    margin: 5px 0px 5px 10px;
   }
.swatchDustyPlum { 
    border: black;
    background-color: #4E0B33;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    display: inline-block;
    margin: 5px 0px 5px 10px;
   }
   .swatchCream { 
    border: black;
    background-color: #E9E2C0;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    display: inline-block;
    margin: 5px 0px 5px 10px;
   }
   .swatchWarmSand { 
    border: black;
    background-color: #CF9E71;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    display: inline-block;
    margin: 5px 0px 5px 10px;
   }
   .swatchGrey { 
    border: black;
    background-color: #E5E5E5;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    display: inline-block;
    margin: 5px 0px 5px 10px;
   }
   .swatchBlack { 
    border: black;
    background-color: #000000;
    width: 100px;
    height: 100px;
    border-radius: 100px; 
    display: inline-block;
    margin: 5px 0px 5px 10px;
   }